<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
  <form [formGroup]="form">
    <ion-item>
      <ion-input placeholder="search" type="text" formControlName="search"></ion-input>
      <ion-button class="btn btn-primary" (click)="films()">Search</ion-button>
    </ion-item>
  </form>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item class=" Title" (click)="openModalWithData()">
      <ion-thumbnail slot="start">
        <ion-img [src]="this.resultApi.Poster"></ion-img>
      </ion-thumbnail>
      <ion-label>{{this.resultApi.Title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>